@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Marcellus&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}

#footer{
    background-color: #053065;
    color: #FFFFFF;
    margin-top: 0px;
}
#contents{
    display: flex;
    align-items: top;
    justify-content: center;
    /* border: 1px solid orange; */
    width: 84%;
    text-align: center;
    margin-left: 8%;
    height: 450px;
    padding-top: 3%;
    font-family: 'Inter', sans-serif;
}
.c{
    /* border: 1px solid orange; */
    width: 24%;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 1px solid red; */
    
}
.logo p{
    font-family: 'Open Sans', serif;
    font-style: italic;
    padding-top: 5px;
}
#c1 #about_lines{
    font-family: 'Marcellus', sans-serif;
    margin-top: 40px;
    font-size: 19px;
    text-align: left;
    width: 90%;
    opacity: 80%;
}

.heading{
    text-align: left;
    /* border: 1px solid white; */
    margin-top: 60px;
    font-family: 'Marcellus', sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin-left: 6%;
}

#c2 .heading{
    text-align: left;
    /* border: 1px solid white; */
    margin-top: 60px;
    font-family: 'Marcellus', sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin-left: 18%;
}
.con{
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
    margin-left: 18%;
    font-size: 17px;
    text-align: left;
    /* width: 90%; */
    opacity: 80%;
    /* border: 1px solid white; */

}
#ccc3{
    /* border: 1px solid black; */
    width: 100%;
    font-family: 'Inter', sans-serif;
    margin-top: 2000px;
    margin-top: 17%;
    font-size: 17px;
    text-align: left;
    width: 100%;
    margin-left:-1px;
   opacity: 80%;
}
#ccc2{
    /* border: 1px solid black; */
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
    margin-left: 18%;
    font-size: 17px;
    text-align: left;
    width: 80%;
    opacity: 80%;
}

#con2_main{
    display: flex;
    /* border: 1px solid black; */
   flex-wrap: wrap;
   width: 20%;
   width: 100%;
   align-items: left;
    justify-content: left;
    text-align: left;
}
.con2{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    margin-top:10%;
    margin-left: 6.5%;
    font-size: 17px;
    text-align: center;
    width: 40%;
    opacity: 80%;
    text-align: left;
   
    /* border: 1px solid white; */

}

#c4{
    border: 2px solid white;
    width: 28%;
    height: 380px;
}
#table1{
    display: flex;
    /* border: 1px solid white; */
    
}
#c4 .heading{
    margin-left: 3%;
}
.con3{
    font-family: 'Inter', sans-serif;
    margin-top: 28.5%;
    margin-left: 10%;
    font-size: 15px;
    text-align: left;
    width: 100%;
    opacity: 80%;
    /* border: 1px solid white; */

}

#time{
    margin-left: 5%;
    margin-right: 0%;
}
 .con4{
    font-family: 'Inter', sans-serif;
    margin-top: px;
    margin-top: 16.7%;
    font-size: 17px;
    text-align: left;
    width: 100%;
   opacity: 80%;
    
    
} 
@media screen and (min-width:751px) and  (max-width:1035px){
    #footer{
        background-color: #053065;
        color: #FFFFFF;
        /* height: 1100px; */
        padding-bottom: 80px;
    }
    #ccc3{
        /* border: 1px solid black; */
        width: 100%;
        font-family: 'Inter', sans-serif;
        margin-top: 0px;
        margin-top: 17%;
        font-size: 17px;
        text-align: left;
        width: 100%;
        margin-left:-1px;
       opacity: 80%;


       font-family: 'Inter', sans-serif;
         margin-top: 20%;
        /*margin-left: 0%; */
        font-size: 15px;
        text-align: left;
        width: 100%;
        opacity: 80%;
    }
    #contents{
        display: flex;
        align-items: top;
        justify-content:top;
        /* border: 1px solid orange; */
        width: 94%;
        text-align: center;
        margin-left: 3%;
        height: 650px;
        padding-top: 3%;
        font-family: 'Inter', sans-serif;
        flex-wrap: wrap;
    }
    .c{
        /* border: 1px solid orange; */
        width: 33%;
    }
    #c1{
        width: 100%;
    }
    
    #footer .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        width: 16%;
        text-align: center;
        margin-left: 42%;
    }
    #footer .logo p{
        font-family: 'Open Sans', serif;
        font-style: italic;
        padding-top: 5px;
    }
    #c1 #about_lines{
        font-family: 'Marcellus', sans-serif;
        margin-top: 20px;
        font-size: 19px;
        text-align: left;
        width: 40%;
        opacity: 80%;
        /* border: 1px solid red;  */
        margin-left: 30%;
    }
    #c2,#c3,#c4{
        margin-top: 50px;
    }
    .heading{
        text-align: left;
        /* border: 1px solid white; */
        margin-top: 60px;
        font-family: 'Marcellus', sans-serif;
        font-size: 19px;
        font-weight: 600;
        margin-left: 6%;
    }

    #c2 .heading{
        text-align: left;
        /* border: 1px solid white; */
        margin-top: 60px;
        font-family: 'Marcellus', sans-serif;
        font-size: 19px;
        font-weight: 600;
        margin-left: 18%;
    }
    .con{
        font-family: 'Inter', sans-serif;
        margin-top: 10%;
        margin-left: 18%;
        font-size: 17px;
        text-align: left;
        /* width: 90%; */
        opacity: 80%;
        /* border: 1px solid white; */
    
    }
    
    #con2_main{
        display: flex;
        /* border: 1px solid black; */
       flex-wrap: wrap;
       width: 20%;
       width: 100%;
       align-items: left;
        justify-content: left;
        text-align: left;
    }
    .con2{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        margin-top:10%;
        margin-left: 6.5%;
        font-size: 17px;
        text-align: center;
        width: 40%;
        opacity: 80%;
        text-align: left;
       
        /* border: 1px solid white; */
    
    }
    
    #c4{
        border: 2px solid white;
        width: 33%;
        height: 380px;
    }
    #table1{
        display: flex;
        /* border: 1px solid white; */
        align-items: center;
        justify-content: center;
        
    }
    #c4 .heading{
        width: 100%;
        /* border: 1px solid white; */
        margin-left: 0%;
        text-align: center;
    }
    .con3{
        font-family: 'Inter', sans-serif;
        margin-top: 28.5%;
        margin-left: 0%;
        font-size: 15px;
        text-align: left;
        width: 100%;
        opacity: 80%;
        
    
    }
  
    

    .con4{
        font-family: 'Inter', sans-serif;
         margin-top: 20%;
        /*margin-left: 0%; */
        font-size: 15px;
        text-align: left;
        width: 100%;
        opacity: 80%;
        
        
    }
}

  
@media screen and (max-width:750px){

    #ccc2{
        /* border: 1px solid black; */
        font-family: 'Inter', sans-serif;
        margin-top: 10%;
        margin-left: 6%;
        font-size: 17px;
        text-align: left;
        width: 80%;
        opacity: 80%;
    }
#footer{
    background-color: #053065;
    color: #FFFFFF;
    padding-bottom: 50px;
    margin-top: 0px;
}
#contents{
    display: flex;
    align-items: top;
    justify-content: center;
    /* border: 1px solid orange; */
    width: 94%;
    text-align: center;
    margin-left: 3%;
    height: 970px;
    padding-top: 40px;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
}
.c{
    /* border: 1px solid orange; */
    width: 100%;
}
#c1{
    width: 100%;
    /* border: 1px solid red; */
    height: 180px;
}
#footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
#footer .logo p{
    font-family: 'Open Sans', serif;
    font-style: italic;
    padding-top: 5px;
}
#c1 #about_lines{
    font-family: 'Marcellus', sans-serif;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    width: 50%;
    opacity: 80%;
    margin-left: 25%;
    /* border: 1px solid red;  */
}
#c2,#c3{
    width: 49%;
    /* border: 1px solid red; */
    margin-top: 100px;
}
.heading{
    text-align: left;
    /* border: 1px solid white; */
    margin-top: 10px;
    font-family: 'Marcellus', sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin-left: 6%;
}
#c2 .heading{
    text-align: left;
    /* border: 1px solid white; */
    margin-top: 10px;
    font-family: 'Marcellus', sans-serif;
    font-size: 19px;
    font-weight: 600;
    margin-left: 6%;
}
.con{
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
    margin-left: 6%;
    font-size: 17px;
    text-align: left;
    /* width: 90%; */
    opacity: 80%;
    /* border: 1px solid white; */

}

#con2_main{
    display: flex;
    /* border: 1px solid black; */
   flex-wrap: wrap;
   width: 20%;
   width: 100%;
   align-items: left;
    justify-content: left;
    text-align: left;
}
.con2{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    margin-top:10%;
    margin-left: 6.5%;
    font-size: 17px;
    text-align: center;
    width: 40%;
    opacity: 80%;
    text-align: left;
   
    /* border: 1px solid white; */

}

#c4{
    border: 2px solid white;
    width: 80%;
    height: 320px;
    margin-top: 40px;
}
#table1{
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: center;
}
#c4 .heading{
    margin-left: 0%;
    /* border: 1px solid white; */
    text-align: center;
}
.con3{
    font-family: 'Inter', sans-serif;
    margin-top: 28.5%;
    margin-left: 00%;
    font-size: 15px;
    text-align: left;
    width: 100%;
    opacity: 80%;
    /* border: 1px solid white; */

}

#time{
    margin-left: 2%;
    margin-right: 0%;
}
 .con4{
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    margin-top: 17%;
    font-size: 17px;
    text-align: left;
    width: 100%;
   opacity: 80%;
    
    
} 



}





.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kanit&family=Marcellus&family=Monda:wght@400;700&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600;700&family=Righteous&family=Roboto:wght@100;300;400;700;900&display=swap');

.content .logo a img {
    display: flex;
}

.logo-text-text-2{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Righteous' , sans-serif;
    margin-top: 15px;
    margin-left: 0px;
    font-size: 19px;
}
