footer {
    width: 100%;
}

footer .main-footer {
    padding-top: 5vh;
    padding-left: 4vw;
    background-color: #053065;
    padding-right: 4vw;
    padding-bottom: 2vh;
    margin-top: 10vh;
}

footer .main-footer .first-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer .short-about,
.footer-links,
.subscribe {
    width: 30%;
    background-color: #053065;
}

footer .short-about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-links {
    border-left: 3px solid rgb(153, 153, 153);
}

footer .logo img {
    width: 7vw;
    margin-right: 0.5vw;
}

footer .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo .logo-text h1 {
    color: white;
    font-size: 3vh;
    font-weight: 600;
}

.logo .logo-text h1 span {
    color: rgb(200, 200, 200);
    font-size: 2vh;
    font-weight: 400;
    padding-left: 30%;
}

.logo .logo-text h4 {
    color: white;
    font-size: 1.5vh;
    font-weight: 100;
}

.footer-address {
    color: white;
    font-size: 1.5vh;
    font-weight: 400;
    margin-top: 1vh;
}

.contact-button {
    background-color: #FABC60;
    width: 30%;
    height: 4vh;
    border: none;
    font-size: 1.7vh;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 3%;
}

.social-media-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.social-media-links i {
    font-size: 1.6vw;
    color: #FABC60;
    padding: 4%;
    cursor: pointer;
}

.important-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.important-links p {
    font-size: 3vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.important-links .underline {
    width: 30%;
    height: 3px;
    background: #FABC60;
}

.uls {
    display: flex;
    justify-content: space-evenly;
}

.uls ul {
    color: white;
    font-size: 2vh;
    margin-top: 4vh;
}

.uls li {
    list-style-type: none;
}

.uls li a {
    text-decoration: none;
    color: white;
}

.uls ul li::before {
    content: "\2022";
    color: #FABC60;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.second-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.second-row img {
    width: 4vw;
}

.second-row p {
    color: white;
    font-size: .8vw;
    width: 55vw;
    font-weight: 100;
    margin-left: 1vw;
}

.footer-bottom-bar {
    background-color: #002048;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding: 0px 6vw;
}

.footer-bottom-bar ul {
    list-style-type: none;
    display: flex;
}

.footer-bottom-bar ul li {
    margin-left: 1vw;
}

.footer-bottom-bar ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom-bar .copy-disclaimer {
    color: white;
    font-size: 1.6vh;
    font-weight: 500;
}

.subscribe {
    border-left: 3px solid rgb(153, 153, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe h1 {
    color: white;
    font-size: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.subscribe form {
    /* background: red; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.subscribe form input {
    width: 80%;
    height: 40%;
    border: 2px solid rgb(239, 239, 239);
    background: none;
    color: rgb(239, 239, 239);
    border-radius: 3px;
    padding-left: 3%;
    font-size: 1.4vh;
}

.subscribe form input::placeholder {
    color: rgb(239, 239, 239);
}

.subscribe form button {
    width: 35%;
    height: 35%;
    background: #FABC60;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

@media only screen and (max-width: 1080px) {
    .main-footer {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    .short-about,
    .footer-links,
    .subscribe {
        height: 90% !important;
    }
    .short-about .logo .logo-text h1 {
        font-size: 2vw;
    }
    .short-about .logo .logo-text h4 {
        font-size: 1.3vw;
    }
    .short-about .footer-address {
        font-size: 1.3vw;
    }
    .short-about .contact-button {
        width: 40%;
        font-size: 1.2vw;
        height: 3vw;
    }
    .short-about .social-media-links i {
        font-size: 2vw;
    }
    .important-links p {
        font-size: 2vw;
    }
    .footer-links .uls ul {
        font-size: 2vw;
    }
    .subscribe h1 {
        font-size: 2vw;
    }
    .subscribe form {
        height: 100%;
        margin-top: 10%;
    }
    .subscribe form input {
        width: 95%;
        height: 4vw;
        font-size: 1.5vw;
    }
    .subscribe form button {
        height: 3vw;
        margin-top: 4vw;
    }
    .main-footer .second-row p {
        font-size: 1.6vw;
    }
    .footer-bottom-bar .copy-disclaimer {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 500px) {
    .main-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-footer .first-row {
        /* display: block; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .short-about,
    .footer-links,
    .subscribe {
        width: 100% !important;
        text-align: center;
    }
    .footer-links {
        border: none;
    }
    .logo {
        margin: auto;
        max-width: 85vw;
    }

    .footer-address {
        text-align: center;
        color: white;
    }
    .social-media-links {
        justify-content: center;
    }
    .footer-bottom-bar {
        display: block;
    }
    .footer-bottom-bar ul {
        justify-content: center;
    }
    .copy-disclaimer {
        text-align: center;
    }
    .short-about {
        align-items: center;
    }
    .short-about .logo img {
        width: 15vw;
    }
    .short-about .logo .logo-text h1 {
        font-size: 5vw;
    }
    .short-about .logo .logo-text h1 span {
        font-size: 3vw;
    }
    .short-about .logo .logo-text h4 {
        font-size: 2.5vw;
        padding-left: 2%;
        padding-top: 3%;
    }
    .short-about .contact-button {
        width: 22%;
        height: 2.2vh;
        font-size: 2vw;
    }
    .short-about .footer-address {
        font-size: 3vw;
    }
    .short-about .social-media-links,
    .subscribe {
        width: 30%;
        justify-content: space-around;
    }
    .short-about .social-media-links i {
        font-size: 4vw;
        padding: 5%;
    }
    .footer-links {
        margin-top: 5%;
    }
    .important-links p {
        font-size: 5vw;
        padding-bottom: 0 !important;
    }
    .important-links .underline {
        width: 20%;
    }
    .footer-links .uls {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links .uls ul {
        width: 100%;
    }

    .footer-links .uls ul li {
        padding: 3%;
        font-size: 4vw
    }
    .subscribe {
        border: none;
    }
    .subscribe {
        margin-top: 5%;
    }
    .subscribe h1 {
        font-size: 5vw;
    }
    .subscribe form {
        width: 70%;
        height: 8vh;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .subscribe form input {
        width: 100%;
        height: 100%;
        font-size: 3vw;
    }
    .subscribe form button {
        font-size: 2.5vw;
        height: 6vh;
        width: 50%;
    }
    .second-row p {
        width: 90%;
    }
    .footer-bottom-bar {
        height: 4vh;
    }
    .footer-bottom-bar ul li a {
        font-size: 1.5vw;
    }
}