*{
    padding: 0;
    margin: 0;
}
#howis{
    margin-top: 3%;
    /* border: 1px solid black; */
}
#text{
    /* border: 1px solid black; */
    padding-left: 0px;
    padding-top:0px;
    /* border:1px solid black ; */
    height: fit-content;
}
#upper{
    display: grid;
    grid-template-columns: 45% 55%;
    width: 80%;
    position: relative;
    left: 10%;
    /* border: 1px solid black; */
    /* font-family: 'Inter', sans-serif;
font-family: 'Irish Grover', cursive;
font-family: 'Reem Kufi Ink', sans-serif;
font-family: 'Righteous', cursive; */
}
#hi{
    font-family: 'Righteous', cursive;
    color: #00569C;
    font-size: 70px;
    line-height: 70px;
}
#ct{
    font-family: 'Righteous', cursive;
    color:#F8A52B ;
    font-size: 70px;
    line-height:70px;
}
#text p{
    font-size: 18px;
    font-family: 'Reem Kufi Ink', sans-serif;
    opacity: 60%;
    line-height: 18px;
    width:80%;
    margin-top: 20px;
    padding-left: 10px;
    
}
#up_img{
z-index: 0;
}
#up_img img{
    width: 700px;
    height: auto;
    margin-top: 30px;
}

#lower img{
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
    left: 0%;
    height: 450px;
    margin-top: -3%;
    /* z-index: 100; */
    position: absolute;
}
#carouselExampleAutoplaying{
    width: 74%;
    position: relative;
    left: 13%;
    padding-left: 2%;
    padding-right: 2%;
    top: 70px;
    padding-bottom: 50px;
}
#name{
    font-family: 'Reem Kufi Ink' , sans-serif;
    font-size: 32px;
}
#details{
    font-family: 'Reem Kufi Ink', sans-serif;
    color: #00569C;
    font-size: 19px;
    width: 100%;
    margin-top: 20px;
    
} 
#grid-11{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
    /* border: 1px solid red; */
    
} 

.g2 #details{
    color: #F8A52B;
    
}
@media screen and (max-width:500px){
    #howis{
        margin-top: 0px;
        /* border: 1px solid black; */
        position: relative;
    }
    #howismain{
        position: relative;
        top:90px;
    }
    #text{
        /* border: 1px solid black; */
        padding-left: 0px;
        padding-top:00px;
        /* border:1px solid black ; */
        height: fit-content;
    }
    #upper{
        display: grid;
        grid-template-columns: 100%;
        width: 90%;
        position: relative;
        left: 5%;
        /* border: 1px solid black; */
        /* font-family: 'Inter', sans-serif;
    font-family: 'Irish Grover', cursive;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-family: 'Righteous', cursive; */
    }
    #hi{
        font-family: 'Righteous', cursive;
        color: #00569C;
        font-size: 50px;
        line-height: 50px;
        margin-top: 0px;
    }
    #ct{
        font-family: 'Righteous', cursive;
        color:#F8A52B ;
        font-size: 50px;
        line-height:50px;
        margin-top: 0px;
    }
    #text p{
        font-size: 18px;
        font-family: 'Reem Kufi Ink', sans-serif;
        opacity: 60%;
        line-height: 18px;
        width:100%;
        margin-top: 20px;
        padding-left: 10px;
        
    }
    #up_img{
    z-index: 0;
    }
    #up_img img{
        width: 100%;
        height: auto;
    }
    
    #lower img{
        /* border: 1px solid black; */
        width: 100%;
        position: relative;
        left: 0%;
        height: 1060px;
        margin-top: -3%;
        /* z-index: 100; */
        position: absolute;
    }
    #carouselExampleAutoplaying{
        width: 80%;
        position: relative;
        left: 10%;
        padding-left: 2%;
        padding-right: 2%;
        top: 200px;
        padding-bottom: 0px;
    }
    #name{
        font-family: 'Reem Kufi Ink' , sans-serif;
        font-size: 25px;
    }
    #details{
        font-family: 'Reem Kufi Ink', sans-serif;
        color: #00569C;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
        
    } 
    #grid-11{
        display: grid;
        grid-template-columns: 100%  ;
        gap: 40px;
        /* border: 1px solid red; */
        
    } 
    
    .g2 #details{
        color: #F8A52B;
        
    }
}
@media screen and  (min-width:501px) and (max-width:620px){
    #howis{
        margin-top: 100px;
        /* border: 1px solid black; */
    }
    #text{
        /* border: 1px solid black; */
        padding-left: 0px;
        padding-top:0px;
        /* border:1px solid black ; */
        height: fit-content;
    }
    #upper{
        display: grid;
        grid-template-columns: 45% 55%;
        width: 90%;
        position: relative;
        left: 5%;
        /* border: 1px solid black; */
        /* font-family: 'Inter', sans-serif;
    font-family: 'Irish Grover', cursive;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-family: 'Righteous', cursive; */
    }
    #hi{
        font-family: 'Righteous', cursive;
        color: #00569C;
        font-size: 42px;
        line-height: 42px;
    }
    #ct{
        font-family: 'Righteous', cursive;
        color:#F8A52B ;
        font-size: 42px;
        line-height:42px;
    }
    #text p{
        font-size: 17px;
        font-family: 'Reem Kufi Ink', sans-serif;
        opacity: 60%;
        line-height: 17px;
        width:95%;
        margin-top: 20px;
        padding-left: 10px;
        
    }
    #up_img{
    z-index: 0;
    }
    #up_img img{
        width: 100%;
        height: 300px;
    }
    
    #lower img{
        /* border: 1px solid black; */
        width: 100%;
        position: relative;
        left: 0%;
        height: 850px;
        margin-top: -3%;
        /* z-index: 100; */
        position: absolute;
    }
    #carouselExampleAutoplaying{
        width: 80%;
        position: relative;
        left: 10%;
        padding-left: 2%;
        padding-right: 2%;
        top: 200px;
        padding-bottom: 0px;
    }
    #name{
        font-family: 'Reem Kufi Ink' , sans-serif;
        font-size: 25px;
    }
    #details{
        font-family: 'Reem Kufi Ink', sans-serif;
        color: #00569C;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
        
    } 
    #grid-11{
        display: grid;
        grid-template-columns: 100%  ;
        gap: 40px;
        /* border: 1px solid red; */
        
    } 
    
    .g2 #details{
        color: #F8A52B;
        
    }
}
@media screen and  (min-width:621px) and (max-width:750px){
    #howis{
        margin-top: 100px;
        /* border: 1px solid black; */
    }
    #text{
        /* border: 1px solid black; */
        padding-left: 0px;
        padding-top:0px;
        /* border:1px solid black ; */
        height: fit-content;
    }
    #upper{
        display: grid;
        grid-template-columns: 45% 55%;
        width: 90%;
        position: relative;
        left: 5%;
        /* border: 1px solid black; */
        /* font-family: 'Inter', sans-serif;
    font-family: 'Irish Grover', cursive;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-family: 'Righteous', cursive; */
    }
    #hi{
        font-family: 'Righteous', cursive;
        color: #00569C;
        font-size: 42px;
        line-height: 42px;
    }
    #ct{
        font-family: 'Righteous', cursive;
        color:#F8A52B ;
        font-size: 42px;
        line-height:42px;
    }
    #text p{
        font-size: 17px;
        font-family: 'Reem Kufi Ink', sans-serif;
        opacity: 60%;
        line-height: 17px;
        width:95%;
        margin-top: 20px;
        padding-left: 10px;
        
    }
    #up_img{
    z-index: 0;
    }
    #up_img img{
        width: 100%;
        height: auto;
    }
    
    #lower img{
        /* border: 1px solid black; */
        width: 100%;
        position: relative;
        left: 0%;
        height: 850px;
        margin-top: -3%;
        /* z-index: 100; */
        position: absolute;
    }
    #carouselExampleAutoplaying{
        width: 80%;
        position: relative;
        left: 10%;
        padding-left: 2%;
        padding-right: 2%;
        top: 200px;
        padding-bottom: 0px;
    }
    #name{
        font-family: 'Reem Kufi Ink' , sans-serif;
        font-size: 25px;
    }
    #details{
        font-family: 'Reem Kufi Ink', sans-serif;
        color: #00569C;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
        
    } 
    #grid-11{
        display: grid;
        grid-template-columns: 100%  ;
        gap: 40px;
        /* border: 1px solid red; */
        
    } 
    
    .g2 #details{
        color: #F8A52B;
        
    }
}
@media screen and  (min-width:751px) and (max-width:950px){
    #howis{
        margin-top: 100px;
        /* border: 1px solid black; */
    }
    #text{
        /* border: 1px solid black; */
        padding-left: 0px;
        padding-top:0px;
        /* border:1px solid black ; */
        height: fit-content;
    }
    #upper{
        display: grid;
        grid-template-columns: 45% 55%;
        width: 90%;
        position: relative;
        left: 5%;
        /* border: 1px solid black; */
        /* font-family: 'Inter', sans-serif;
    font-family: 'Irish Grover', cursive;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-family: 'Righteous', cursive; */
    }
    #hi{
        font-family: 'Righteous', cursive;
        color: #00569C;
        font-size: 42px;
        line-height: 42px;
    }
    #ct{
        font-family: 'Righteous', cursive;
        color:#F8A52B ;
        font-size: 42px;
        line-height:42px;
    }
    #text p{
        font-size: 17px;
        font-family: 'Reem Kufi Ink', sans-serif;
        opacity: 60%;
        line-height: 17px;
        width:95%;
        margin-top: 20px;
        padding-left: 10px;
        
    }
    #up_img{
    z-index: 0;
    }
    #up_img img{
        width: 100%;
        height: auto;
    }
    
    #lower img{
        /* border: 1px solid black; */
        width: 100%;
        position: relative;
        left: 0%;
        height: 750px;
        margin-top: -3%;
        /* z-index: 100; */
        position: absolute;
    }
    #carouselExampleAutoplaying{
        width: 80%;
        position: relative;
        left: 10%;
        padding-left: 2%;
        padding-right: 2%;
        top: 200px;
        padding-bottom: 0px;
    }
    #name{
        font-family: 'Reem Kufi Ink' , sans-serif;
        font-size: 25px;
    }
    #details{
        font-family: 'Reem Kufi Ink', sans-serif;
        color: #00569C;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
        
    } 
    #grid-11{
        display: grid;
        grid-template-columns:100% ;
        gap: 40px;
        /* border: 1px solid red; */
        
    } 
    
    .g2 #details{
        color: #F8A52B;
        
    }
}
@media screen and  (min-width:951px) and (max-width:1150px){
    #howis{
        margin-top: 50px;
        /* border: 1px solid black; */
    }
    #text{
        /* border: 1px solid black; */
        padding-left: 0px;
        padding-top:0px;
        /* border:1px solid black ; */
        height: fit-content;
    }
    #upper{
        display: grid;
        grid-template-columns: 45% 55%;
        width: 90%;
        position: relative;
        left: 5%;
        /* border: 1px solid black; */
        /* font-family: 'Inter', sans-serif;
    font-family: 'Irish Grover', cursive;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-family: 'Righteous', cursive; */
    }
    #hi{
        font-family: 'Righteous', cursive;
        color: #00569C;
        font-size: 47px;
        line-height: 47px;
    }
    #ct{
        font-family: 'Righteous', cursive;
        color:#F8A52B ;
        font-size: 47px;
        line-height:47px;
    }
    #text p{
        font-size: 17px;
        font-family: 'Reem Kufi Ink', sans-serif;
        opacity: 60%;
        line-height: 17px;
        width:95%;
        margin-top: 20px;
        padding-left: 10px;
        
    }
    #up_img{
    z-index: 0;
    }
    #up_img img{
        width: 100%;
        height: auto;
    }
    
    #lower img{
        /* border: 1px solid black; */
        width: 100%;
        position: relative;
        left: 0%;
        height: 450px;
        margin-top: -3%;
        /* z-index: 100; */
        position: absolute;
    }
    #carouselExampleAutoplaying{
        width: 80%;
        position: relative;
        left: 10%;
        padding-left: 2%;
        padding-right: 2%;
        top: 100px;
        padding-bottom: 0px;
    }
    #name{
        font-family: 'Reem Kufi Ink' , sans-serif;
        font-size: 25px;
    }
    #details{
        font-family: 'Reem Kufi Ink', sans-serif;
        color: #00569C;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
        
    } 
    #grid-11{
        display: grid;
        grid-template-columns: 28% 28% 28% ;
        gap: 40px;
        /* border: 1px solid red; */
        
    } 
    
    .g2 #details{
        color: #F8A52B;
        
    }
}



