@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Marcellus&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root {
    --primary-blue-color: #1F5EAB;
}

.slider {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.slider-main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;

    /* background: red; */
}

.slider-main span {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    transition: .8s;
    background: url("/images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

}

.slider-main span:nth-child(1) {
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    /* background: red; */
}

.slider-main span:nth-child(2) {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
    /* background: yellow; */
}

.slider-main span:nth-child(3) {
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
    /* background: green; */
}

.slider-main span:nth-child(4) {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    /* background: blue; */
}

.hanging-boxes {
    width: 100%;
    height: 40vh;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hanging-boxes-ropes {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hanging-boxes-ropes .ropes {
    width: 20%;
    height: 100%;
    /* background: blue; */
    display: flex;
    justify-content: space-evenly;
}

.hanging-boxes-ropes .ropes hr {
    width: 7px;
    border: none;
    background: var(--primary-blue-color);
}






#about {
    /* border: 1px solid red; */
    padding-top: 0px;
}

:root {
    --primary-blue-color: #1F5EAB;
}

#bg {

    position: relative;
    background: #053065;
    height: 500px;
}

#sec {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500px;
    width: 80%;
    position: absolute;
    top: 0;
    left: 10%;
    /* border: 1px solid red; */
}

#sec1 {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 80%;
    margin-top: 0%;
}

#dbg {
    background: #001E42;
    height: 100%;
    width: 100%;
    position: relative;
    /* border-left: 20px solid white; */
    top: 50%;
    transform: translateY(-50%);

}

#dc {
    width: 44%;
    position: absolute;
    top: 0px;
    left: 0;
    height: 600px;
    text-align: center;
    left: 3%;
    bottom: 50px;
    top: 50%;
    transform: translateY(-50%);
    /* display: none; */
}
#sec2main{
    /* border: 1px solid black; */
    margin-left: 0%;
    width: 100%;
}
#sec2 {
    width: 100%;
    /* border: 1px solid orange; */
    height: 100%;
    color: white;
    font-family: Marcellus, sans-serif;
    font-weight: 500;
    margin-top:0%;
}


#head {
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    /* border: 1px solid orange; */
    width: fit-content;
}

p:nth-child(2) {
    line-height: 35px;
    width: 90%;
    margin-left: 5%;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
}


#lm {
    padding: 10px;
    background: #001836;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 400;
    cursor: pointer;
}

.v {
    border-left: 2px solid white;
    height: 50px;
    position: relative;
    top: 30px;
}

#flex1 {
    display: flex;
    /* border: 1px solid orange; */
    justify-content: space-around;
    width: 180px;
    margin-left: 34%;
    margin-bottom: 20px;
}
#mainabout {
    position: relative;
    top: 70px;
}


#main_footer {
    position: relative;
    top: 170px;

    /* border: 1px solid black; */
}
@media screen and (max-width:620px) {
    #main_footer {
        position: relative;
        top: 670px;
    
        /* border: 1px solid black; */
    }
    #about {
        /* border: 1px solid red; */
        padding-top: 0px;

        /* padding-bottom: 300px; */
        position: relative;
    }

    :root {
        --primary-blue-color: #1F5EAB;
    }
/* 
    #bg {

        position: relative;
        background: #053065;
        /* height: 1100px; 

    } */

    #sec {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 500px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0%;
        flex-wrap: wrap;
        margin-left: 0%;
    }



    #sec1 {
        /* border: 1px solid yellow; */
        width: 100%;
        height: 70%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    #dbg {
        background: #001E42;
        height: 100%;
        width: 100%;
        position: relative;
        border-left: 2px solid #001E42;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 0%;
        transform: translateZ(-0%);



    }

    #dc {
        /* width:50%;
        position: absolute;
        
        top:0%;
        transform: translateY(-25%);
        left: 0;
        height: 80%;
        text-align: center;
        left: 25%;
        transform: translateZ(-25%);
        bottom: 0px; */
        width: 75%;
        position: absolute;
        top: 0px;
        left: 0;
        height: 80%;
        text-align: center;
        left: 12.5%;
        transform: translateX(-12.5%);
        bottom: 50px;
        top: 50%;
        transform: translateY(-50%);
    }
    #sec2main{
        width: 100%;
        background: #053065;
        /* border: 1px solid red; */
        margin-top:23%;
        padding-bottom: 50px;
    }
    #sec2 {
        width: 100%;
        /* border: 1px solid orange; */
        height: 80%;
        color: white;
        font-family: Marcellus, sans-serif;
        font-weight: 500;
        position: relative;
        top: 0%;
        background: #053065;
    }


    #head {
        margin-top: 5px;
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        /* border: 1px solid orange; */
        width: fit-content;

    }


    .v {
        border-left: 2px solid white;
        height: 50px;
        position: relative;
        top: 0px;


    }

    #flex1 {
        display: flex;
        /* border: 1px solid orange; */
        justify-content: space-around;
        width: 180px;
        margin-left: 0%;
        margin-bottom: 0px;
        position: relative;
        left: 0%;
        width: 70%;
        position: relative;
        left: 15%;
        transform: translateZ(-15%);
    }

    p:nth-child(2) {
        line-height: 35px;
        width: 90%;
        margin-left: 5%;
        font-size: 17px;
        font-weight: 400;
        text-align: justify;
    }

    #lm {
        padding: 10px;
        background: #001836;
        color: white;
        border: none;
        font-size: 16px;
        margin-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        font-weight: 400;
    }
}

@media screen and (min-width:621px) and (max-width:1035px) {
    #about {
        /* border: 1px solid red; */
        padding-top: 0px;
    }

    :root {
        --primary-blue-color: #1F5EAB;
    }

    #bg {

        position: relative;
        background: #053065;
        height: 650px;
    }

    #sec {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 500px;
        width: 80%;
        position: absolute;
        top: 0;
        left: 10%;
    }

    #sec1 {
        /* border: 1px solid yellow; */
        width: 100%;
        height: 80%;
        margin-top: 0%;
        /* position: relative; */
        /* margin-top:50%;
        transform: translateY(-50%); */
    }

    #dbg {
        background: #001E42;
        height: 100%;
        width: 100%;
        position: relative;
        border-left: 2px solid #001E42;
        /* top:50%;
        transform: translateY(-50%); */

    }

    #dc {
        width: 45%;
        position: absolute;
        top: 0px;
        left: 0;
        height: 70%;
        text-align: center;
        left: 2.5%;
        bottom: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    #sec2 {
        width: 100%;
        /* border: 1px solid orange; */
        height: 100%;
        color: white;
        font-family: Marcellus, sans-serif;
        font-weight: 500;
        margin-top: 10%;
        margin-left: 10%;
    }


    #head {
        margin-top: 135px;
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        /* border: 1px solid orange; */
        width: fit-content;

    }


    .v {
        border-left: 2px solid white;
        height: 50px;
        position: relative;
        top: 130px;


    }
    #v2{
        margin-left: -10px;
    }

    #flex1 {
        display: flex;
        /* border: 1px solid orange; */
        justify-content: space-around;
        width: 180px;
        margin-left: 0%;
        margin-bottom: 0px;
        position: relative;
        left: 0%;
        
        width: 90%;
        position: relative;
        left: 5%;
        transform: translateZ(-15%);
    }

    p:nth-child(2) {
        line-height: 35px;
        width: 100%;
        margin-left: 0%;
        font-size: 17px;
        font-weight: 400;
        text-align: justify;
    }


    #lm {
        padding: 10px;
        background: #001836;
        color: white;
        border: none;
        font-size: 16px;
        margin-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        font-weight: 400;
        width: 65%;
    }

}



@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Marcellus&family=Monda:wght@400;700&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600;700&family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

.what-is{
    border: px solid red;
    height: auto;
    width: 90%;
    position: relative;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.what-is-content{
    border: px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 500px;

}

.what-is-heading{
    border: px solid red;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.whatis-head-span{
    border-left: 3px solid #1F5EAB;
    border-right: 3px solid #1F5EAB;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    
    /* FONTS */
    font-family: 'Marcellus', serif;
    font-size: 35px;

}

.what-is-below{
    border-left: 3px solid #F8A52B;
    height: 75%;
    position: relative;
    top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.what-is-expln{
    border: px solid red;
    width: 95%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #3E3E3E;

}

.what-is-definition, .what-is-types, .what-is-types2{
    border: px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.whatis-dfline{
    border: 1px solid #F8A52B;
    width: 5%;
}

.whatis-explnspan{
    border: px solid black;
    width: 80%;
    margin-left: 2%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.what-is-img{
    border: px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.whatis-img{
    height: 70%;
    position: relative;
    top: 5%;
}    

@media screen and (max-width:700px){
    
.what-is{
    border: px solid red;
    height: auto;
    width: 75%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    top: 590px;
}

.what-is-content{
    border: px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60%;
 
}

.what-is-heading{
    border: px solid red;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.whatis-head-span{
    border-left: 3px solid #1F5EAB;
    border-right: 3px solid #1F5EAB;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    
    /* FONTS */
    font-family: 'Marcellus', serif;
    font-size: 27px;

}

.what-is-below{
    border-left: 3px solid #F8A52B;
    height: 80%;
    position: relative;
    top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.what-is-expln{
    border: px solid red;
    width: 98%;
    position: relative;
    top: -3%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #3E3E3E;

}

.what-is-definition, .what-is-types, .what-is-types2{
    border: px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.whatis-dfline{
    border: 1px solid #F8A52B;
    width: 5%;
}

.whatis-explnspan{
    border: px solid black;
    width: 95%;
    margin-left: 2%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.what-is-img{
    border: px solid red;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.whatis-img{
    height: auto;
    position: relative;
    top: 0;
    width: 100%;
}    

}
@media screen and (min-width:701px) and (max-width:1000px){
  
.what-is{
    border: px solid black;
    height: auto;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    top: 100px;
}

.what-is-content{
    border: px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 400px;

}

.what-is-heading{
    border: px solid red;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.whatis-head-span{
    border-left: 3px solid #1F5EAB;
    border-right: 3px solid #1F5EAB;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    
    /* FONTS */
    font-family: 'Marcellus', serif;
    font-size: 28px;

}

.what-is-below{
    border-left: 3px solid #F8A52B;
    height: 75%;
    position: relative;
    top: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.what-is-expln{
    border: px solid red;
    width: 95%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #3E3E3E;

}

.what-is-definition, .what-is-types, .what-is-types2{
    border: px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.whatis-dfline{
    border: 1px solid #F8A52B;
    width: 5%;
}

.whatis-explnspan{
    border: px solid black;
    width: 90%;
    margin-left: 2%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.what-is-img{
    border: px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.whatis-img{
    height: auto;
    width: 100%;
    position: relative;
    top: 15%;
}     
} 




















