@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

:root {
    --main-color: #1F5EAB;
    --second-color: #EC5101;
    --blue-color: #002148;
    --orange-color: #ed6a27;
    --dark-blue: #011226;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background: #fff;
    /* position: sticky;
    top: 0px; */
    width: 100%;
    z-index: 72;
    box-shadow: 0 4px 20px -8px #000000ad;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    align-items: center;
    justify-content: start;
    height: 95px;
    z-index: 72;
    
}

nav .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
}

nav .content .links {
    margin-left: 80px;
    display: flex;
    justify-content: end;
}

.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kanit&family=Marcellus&family=Monda:wght@400;700&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600;700&family=Righteous&family=Roboto:wght@100;300;400;700;900&display=swap');

/* .content .logo a img {
    display: flex;
} */
.logo-text-img {
    /* position: absolute; */
    /* width: 100px; */
    height:90px;
    /* border: 1px solid black; */
}
.logo-text-text-2{
    text-decoration: none;
    color: #002148;
    font-weight: bold;
    font-family: 'Righteous' , sans-serif;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 19px;
}
.content .links li {
    list-style: none;
    line-height: 90px;
    text-align: center;
}

.content .links li a,
.content .links li label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    text-decoration: none;
    /* border: 1px solid black; */
}
.content .links ul li a
{
    padding:9px 17px;
    margin-top: -10px;
    /* border: 1px solid black; */
}
.content .links li label {
    display: none;
}

.content .links li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.content .links li a:hover:after {
    width: 100%;
    left: 0;
}


/* .content .links li a:hover,
.content .links li label:hover{

} */

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #000;
    font-size: 35px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #000;
    background: #fff;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #000;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #000;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}


/* Dropdown Menu code start */

.content .links ul {
    position: absolute;
    background: #fff;
    top: 80px;
    /* z-index: ; */
    opacity: 0;
    visibility: hidden;
}

.content .links li:hover>ul {
    top: 60px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}


/* Responsive code start */

@media screen and (max-width: 524px) {
    .wrapper nav {
        min-width: 100%;
        padding: 0 20px; 
        /* border: 1px solid black; */
        height: 90px;
        position: fixed;
        top: 0;
        background: #ffffff;
    }
    nav .content .links {
        margin-left: 30px;
    }
    .content .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 1056px) {
    nav {
        padding: 0 !important;
    }
    nav .content .logo {
        margin-right: 10px;
    }
    .wrapper .menu-icon {
        display: block;
    }
    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
    nav .content .links {
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 155px;
        left: -100%;
        margin-left: 0;
        max-width: 100%;
        overflow-y: hidden;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        /* border: 1px solid black; */
    }
    nav #show-menu:checked~.content .links {
        left: 0%;
    }
    .content .links li {
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link {
        display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
    }
    .content .links ul li {
        margin: 7px 20px;
    }
    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}

@media screen and (max-width: 400px) {
    nav .content .links {
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 100%;
        overflow-y: hidden;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        /* border: 1px solid black; */
    }
    .wrapper nav {
        padding: 0 10px;
        height: 73px;
        /* border:1px solid black; */
    }
    .content .logo a {
        font-size: 27px;
    }
    .content .logo a img {
        max-height: 11vw;
    }
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input {
        padding-right: 30px;
    }
}
@media screen and (min-width:401px) and (max-width:900px){
    nav .content .links {
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 90px;
        left: -100%;
        margin-left: 0;
        max-width: 100%;
        overflow-y: hidden;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        /* border: 1px solid black; */
    }
}
@media screen and (min-width:901px) and (max-width:1035px){
    nav .content .links {
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 140px;
        left: -100%;
        margin-left: 0;
        max-width: 100%;
        overflow-y: hidden;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        /* border: 1px solid black; */
    }
    .content .logo a {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black */
    }
    .wrapper .search-icon,
.wrapper .menu-icon {
    color: #000;
    font-size: 35px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: left;
    margin-left: -60px;
}
}
@media screen and (min-width:1036px) and (max-width:1056px){
    nav .content .links {
        display: block;
        position: fixed;
        background: white;
        height: 100%;
        width: 100%;
        top: 145px;
        left: -100%;
        margin-left: 0;
        max-width: 100%;
        overflow-y: hidden;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        /* border: 1px solid black; */
    }
    .content .logo a {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black */
    }
    .wrapper .search-icon,
.wrapper .menu-icon {
    color: #000;
    font-size: 35px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: left;
    margin-left: -60px;
}
}
.wrapper{
    z-index: 1000;
}
.dummy-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.dummy-text h2 {
    font-size: 45px;
    margin: 5px 0;
}




.header {
    display: flex;
    justify-content: space-between;
    background: #F2F7F9;
    align-items: center;
    padding: 1vh 6vw;
}

.small-text {
    color: #f84d4f;
    font-size: 2vh;
    font-style: italic;
}

.header .icons {
    width: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .icons .icon {
    font-size: 25px;
}

.infos {
    display: flex;
    width: 42%;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.info {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    color: var(--second-color);
    /* margin-left: 5vw; */
}
.info:last-child{
margin-left: 0vw;
display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
    color: var(--second-color);
}
.info i {
    font-size: 18px;
}

.info p {
    width: fit-content;
    padding-left: 0.2vw;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 0px !important;
    /* border: 1px solid black; */
    font-family: 'poppins';
    
}

@media only screen and (max-width: 1056px) {
    .header {
        flex-direction:row;
        padding: 2.5vh !important;
        align-items: center;
        justify-content: center;
    }

    .header .icons {
        width: 20%;
        padding: 10px;
        /* border: 1px solid black; */
        display: none;
    }
    .header .fa-solid{
        /* border: 1px solid black; */
        margin-left:25px;
        margin-right: 15px;
        font-size: 17px;
    }
    .header .icons .icon {
        font-size: 25px;
        
    }

    .header .infos {
        width: max-content;
        justify-content: center;
        /* border: 1px solid black; */
        justify-content:space-between;
        align-items: center;
        /* border: 1px solid black; */
        display: static;
    }

    .header .infos p{
        font-size: 17px;
        
    }
    .info p {
        width: fit-content;
        padding-left: 0.vw;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 0;
        font-weight: bold;
        padding-bottom: 0px !important;
        /* border: 1px solid black; */
        
    }

  
}
/* @media screen and (max-width:1056px){
    .header {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 1vh 6vw;
    }
} */

