@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit&family=Marcellus&family=Monda:wght@400;700&family=Montserrat:wght@400;600;800;900&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700;900&family=Raleway:wght@600;700&family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

.what-is{
    border: px solid red;
    height: auto;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.what-is-content{
    border: px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 500px;

}

.what-is-heading{
    border: px solid red;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.whatis-head-span{
    border-left: 3px solid #1F5EAB;
    border-right: 3px solid #1F5EAB;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    
    /* FONTS */
    font-family: 'Marcellus', serif;
    font-size: 40px;

}

.what-is-below{
    border-left: 3px solid #F8A52B;
    height: 75%;
    position: relative;
    top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.what-is-expln{
    border: px solid red;
    width: 95%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #3E3E3E;

}

.what-is-definition, .what-is-types, .what-is-types2{
    border: px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.whatis-dfline{
    border: 1px solid #F8A52B;
    width: 5%;
}

.whatis-explnspan{
    border: px solid black;
    width: 80%;
    margin-left: 2%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.what-is-img{
    border: px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.whatis-img{
    height: 70%;
    position: relative;
    top: 5%;
}    

@media screen and (max-width:700px){
    
.what-is{
    border: px solid red;
    height: auto;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.what-is-content{
    border: px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60%;
 
}

.what-is-heading{
    border: px solid red;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.whatis-head-span{
    border-left: 3px solid #1F5EAB;
    border-right: 3px solid #1F5EAB;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    
    /* FONTS */
    font-family: 'Marcellus', serif;
    font-size: 27px;

}

.what-is-below{
    border-left: 3px solid #F8A52B;
    height: 80%;
    position: relative;
    top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.what-is-expln{
    border: px solid red;
    width: 98%;
    position: relative;
    top: -3%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #3E3E3E;

}

.what-is-definition, .what-is-types, .what-is-types2{
    border: px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.whatis-dfline{
    border: 1px solid #F8A52B;
    width: 5%;
}

.whatis-explnspan{
    border: px solid black;
    width: 95%;
    margin-left: 2%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.what-is-img{
    border: px solid red;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.whatis-img{
    height: auto;
    position: relative;
    top: 0;
    width: 100%;
}    

}
@media screen and (min-width:700px) and (max-width:1000px){
  
.what-is{
    border: px solid black;
    height: auto;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
}

.what-is-content{
    border: px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 400px;

}

.what-is-heading{
    border: px solid red;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.whatis-head-span{
    border-left: 3px solid #1F5EAB;
    border-right: 3px solid #1F5EAB;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    
    /* FONTS */
    font-family: 'Marcellus', serif;
    font-size: 30px;

}

.what-is-below{
    border-left: 3px solid #F8A52B;
    height: 75%;
    position: relative;
    top: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.what-is-expln{
    border: px solid red;
    width: 95%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #3E3E3E;

}

.what-is-definition, .what-is-types, .what-is-types2{
    border: px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.whatis-dfline{
    border: 1px solid #F8A52B;
    width: 5%;
}

.whatis-explnspan{
    border: px solid black;
    width: 90%;
    margin-left: 2%;

    /* FONTS */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.what-is-img{
    border: px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.whatis-img{
    height: auto;
    width: 100%;
    position: relative;
    top: 15%;
}     
} 